.loader {
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  clip-path: inset(0 100% 0 0);
}

.loader.animate {
  animation: l5 2s steps(12) 1;
}

.loader.visible {
  clip-path: inset(0 0 0 0); /* Ensure text remains visible */
}

@keyframes l5 {
  to {
    clip-path: inset(0 -6ch 0 0);
  }
}
