@import "@fontsource/montserrat";

@font-face {
  font-family: "Cascadia Mono";
  src: url("./fonts/CascadiaMono-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
*{
  /* outline: 1px solid red; */
}

@font-face {
  font-family: "Inter", sans-serif;
  src: urlurl('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  font-style: normal;
  font-weight: normal;
}

/* Other global styles */

@tailwind base;
@tailwind components;
@tailwind utilities;
